body {
	background: #ececec;
}
.overlayed_message {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: white;
	display: none;
}
.overlayed_message h3 {
	font-family: Oxygen;
	font-weight: 100;
	text-align: center;
	font-size: 4.5em;
}
.containers_main {
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	background: white;
	width: 90%;
	left: 5%;
	transition: all 0.25s;
	-o-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
}
#post_expanded {
	top: 5%;
	height: 45%;
}
#post_container {
	overflow: scroll;
	height: 40%;
	top: 55%;
	/*background-image: url('../img/backdrop.png');*/
}
#hidden_connector {
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	bottom: 17.5%;
	height: 17.5%;
	width: 15%;
	left: 9.5%;
	background: white;
}
.post {
	position: absolute;
	/*background: #DDE3E7;*/
	height: 50%;
	top: 25%;
	width: 14%;
}
.post:first-child {
	left: 14%;
}
.post:nth-child(2) {
	left: 42%;
}
.post:last-child {
	left: 70%;
}
.post2 {
	position: absolute;
	/*background: #DDE3E7;*/
	height: 50%;
	top: 25%;
	width: 14%;
}
.post2:first-child {
	left: 14%;
}
.post2:nth-child(2) {
	left: 42%;
}
.post2:last-child {
	left: 70%;
}
.posts {
	width: 80%;
	margin-left: 10%;
}
.post_preview {
	position: absolute;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	height: 70%;
	width: 70%;
	transition: all 0.25s;
	-ms-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
}
.post:hover .post_preview {
	box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.post_preview:active {
	box-shadow: none;
}
.preview1 {
	top: 12.5%;
	left: 12.5%;
}
.preview2 {
	top: 17.5%;
	left: 17.5%;
}
.preview3 {
	top: 22.5%;
	left: 22.5%;
}
.plus_preview {
	display: none;
	position: absolute;
	font-family: Oxygen;
	background: rgba(0,0,0,0.7);
	top: 22.5%;
	left: 22.5%;
	height: 70%;
	width: 70%;
}
.plus_preview h3 {
	font-weight: 100;
	color: aqua;
	font-size: 125%;
	text-align: center;
	vertical-align: middle;	
}
.image_container {
	position: absolute;
	height: 100%;
	width: 75%;
	left: 0;
	background: white;
	border-right: 1px solid lightgrey;
}
.comment_container {
	position: absolute;
	height: 100%;
	width: 25%;
	left: 75%;
	background: white;
	/*background: #ecf0f1;*/
}
#post_cover {
	position: absolute;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	padding-top: 10%;
	height: 30%;
	left: 0;
	top: 0;
	width: 100%;
	background-image: url('../img/card_backdrop.jpeg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-clip: 10px;
}
.username_cover {
	font-family: Oxygen;
	color: white;
	font-size: 1.5em;
	font-weight: 200;
	padding-left: 5%;
}
.profile_post {
	height: 35%;
	width: 15%;
	background: #00BCD4;
	right: 5%;
	top: 82.5%;
	border-radius: 100%;
	background-size: 70% 70%;
	background-position: center;
	position: absolute;
	float: right;
	background-repeat: no-repeat;
	background-image: url('../img/profile.png');
}
.comment_stream {
	position: absolute;
	top: 47.5%;
	width: 100%;
	background: #ececec;
}
.comment {
	margin-top: 5px;
	height: 100px;
	width: 100%;
}